#practicaOberigJewelry{
    overflow-x: hidden;
    @font-face {
        font-family: CalibriBold;
        src: url("../fonts/Calibri-Bold.21e06a6.woff2");
    }
    @font-face {
        font-family: minion;
        src: url("../fonts/MinionPro-Regular.cd4cea9.woff2");
    }
    @font-face {
        font-family: Calibri;
        src: url("../fonts/Calibri.89bd5cc.woff2");
    }
    header{
        font-family: Calibri;
        letter-spacing: 2px;
        top: 0px;
        position: sticky;
        z-index: 1;
        nav{
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+64,ffffff+100&1+26,0+100 */
            background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 26%, rgba(255,255,255,0.49) 64%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,0.49) 64%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 26%,rgba(255,255,255,0.49) 64%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

            ul{
                display:flex;
                justify-content: space-around;
                list-style: none;
                li{
                    color: rgb(92, 92, 92);
                    text-align: center;
                    margin-top: 30px;
                    padding: 10px;
                    width: 150px;
                    &:nth-child(5){
                        font-family: minion;
                        margin-top: 20px;
                        margin-left: 40px;
                        margin-right: 40px;
                        font-size: 2em;
                        padding-bottom: 70px;
                    }   
                }
            }
        }
    }
    main{
        
        section{
            
            flex-flow: row;
            &.ring{
                height: 100vh;
                overflow: hidden;
                margin-top: 0px;
                position: relative;
                background: url("../img/background_oberig.jpg") no-repeat;
                background-size: 100vw ;
                width:100vw ;
                

                figure{
                    position: relative;
                    img.ringImg{
                        position: relative;
                        top: 170px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 20%;
                    }
                }
                div{
                    display: flex;
                    position: relative;
                    bottom: -300px;
                    left: 90px;
                }
            }
            &.symbols{
                height: 100vh;
                position: relative;;
                @sliderSize:300px;
                @radio: 210;
                @grados: 30;
                display: flex;
                justify-content: center;
                align-items: center;
                .texto{
                    color: grey;
                    font-family: minion;
                    position: relative;
                    top: 50px;
                    right: 100px;
                    width:  @sliderSize;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: .1px;
                    p{
                        font-family: Calibri;
                        margin: 50px;
                        margin-top: 0px;
                        margin-right: 0px;
                    }
                    h2{
                        font-size: 3em;
                    }
                }
                .slider{
                    width: @sliderSize;
                    height: @sliderSize;
                    position: relative;
                    img{
                        width:@sliderSize ;
                        position: relative;
                        top: 40%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                    }
                    h1{
                        font-size: 1.5em;
                        color: rgb(92, 92, 92);
                        font-family: minion;
                        position: absolute;
                        bottom: 20px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    margin-top: 75px;
                    border-radius: 50%;
                    -webkit-box-shadow: inset 0 16px 35px rgba(93, 102, 114, .15);
                    box-shadow: inset 0 16px 35px rgba(93, 102, 114, .15);
                    border: 1px solid hsla(0, 0%, 100%, 0);
                    overflow: hidden;
                    width: 457px;
                    height: 457px; 
                }
                .SliderRadial{
                    width: @sliderSize;
                    position: relative;
                    top: -100px;
                    right: 200px;
                     img{
                         width: 40px;
                         position: relative;
                         top: 50%;
                         left: 50%;
                         transform: translate(-50%,-50%);
                     }
                     .SliderRadial__control{
                        position: absolute;
                        border-radius: 50%;
                        width: 78px;
                        height: 78px;
                        -webkit-box-shadow: inset 0 -16px 35px rgba(93, 102, 114, .18);
                        box-shadow: inset 0 -16px 35px rgba(93, 102, 114, .18);
                        border: 1px solid hsla(0, 0%, 100%, .4);
                        background-color: hsla(0, 0%, 100%, 0);
                        cursor: pointer
                     }
                    .SliderRadial__control:first-child {
                        left: @sliderSize * 0.5 + @radio * cos((@grados * 3.1415 / 180) * 2);
                        top: @sliderSize * 0.5 - @radio * sin((@grados * 3.1415 / 180) * 2);
                        transform: translate(-50%,-50%);
                    }
                    
                    .SliderRadial__control:nth-child(2) {
                        left: @sliderSize * 0.5 + @radio * cos((@grados * 3.1415 / 180) * 1);
                        top: @sliderSize * 0.5 - @radio * sin((@grados * 3.1415 / 180) * 1);
                        transform: translate(-50%,-50%);
                    }
                    
                    .SliderRadial__control:nth-child(3) {
                        left: @sliderSize * 0.5 + @radio * cos((@grados * 3.1415 / 180) * 0);
                        top: @sliderSize * 0.5 - @radio * sin((@grados * 3.1415 / 180) * 0);
                        transform: translate(-50%,-50%);
                    }
                    
                    .SliderRadial__control:nth-child(4) {
                        left: @sliderSize * 0.5 + @radio * cos((@grados * 3.1415 / 180) * -1);
                        top: @sliderSize * 0.5 - @radio * sin((@grados * 3.1415 / 180) * -1);
                        transform: translate(-50%,-50%);
                    }
                    
                    .SliderRadial__control:nth-child(5) {
                        left: @sliderSize * 0.5 + @radio * cos((@grados * 3.1415 / 180) * -2);
                        top: @sliderSize * 0.5 - @radio * sin((@grados * 3.1415 / 180) * -2);
                        transform: translate(-50%,-50%);
                    }
                }
            }
            &.others{
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                .othersLeft{
                    color: rgb(123, 122, 122);
                    font-size: 2.2em;
                    width: 1fr;
                    font-family: minion;

                }
                .othersCenter{
                    width: 1fr;
                }
                .othersRight{
                    width:1fr;
                    height: auto;
                    position: relative;
                    ul{
                        display: flex;
                        flex-direction: column ;
                        li{
                            font-family: Calibri;
                            position: relative;
                            margin: 20px;
                            
                            left: 100px;
                            transition: 1s;
                            &:hover{
                                left: 80px;
                                transition: 1s;
                            }
                        }
                    }
                }
                
            }
            &.brand{
                height: 100vh;
                figure.directora{
                    position: relative;
                    img:first-of-type{
                        position: absolute;
                        z-index: -1;
                        overflow: hidden;
                    }
                }
                h2{
                    color: rgb(123, 122, 122);
                    text-justify: auto;
                    text-transform: uppercase;
                    font-family: mineon;
                    font-size: 2.6em;
                    width: 300px;
                }
                p{
                    font-family: Calibri;
                }
            }
            &.collections{
                height: 50vh;
                background-image: url("../img/collBG.webp");
                background-size: cover;
                background-repeat: no-repeat;
                background-position-y: -100px;
                display: flex;
                justify-content: center;
                h2{
                    position: relative;
                    top:50%;
                    font-family:Calibri ;
                    letter-spacing: 2px;
                    font-size: 1em;
                    transform: translateX(-50%,-50%);
                }
            }
            &.feed{
                height: 80vh;
                .cuadroIMGs{
                    margin-top: 100px;
                    width: 1050px;
                    margin: auto;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            footer{
                height: 25vh;
            }
        }
    }
}