#practicaOberigJewelry{
    background-image: url(../img/fons.webp);
    background-size: contain ;
    header{
        nav{

            ul{
                display:flex;
                justify-content: space-around;
                list-style: none;
                li{
                    margin-top: 30px;
                    padding: 10px;
                    width: 150px;
                    &:nth-child(5){
                        margin-top: 20px;
                        margin-left: 40px;
                        margin-right: 40px;
                        font-size: 2em;
                        padding-bottom: 70px;
                    }   
                }
            }
        }
    }
    main{
        
        section{
            flex-flow: row;
            &.ring{
                margin: 60px;
                position: relative;
                background-image: url("../img/background_oberig.jpg");
                background-size: contain ;

                height: 700px;

                figure{

                    img{
                        position: relative;
                        top: 170px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 20%;
                        
                    }
                }

            }
            &.symbols{
                
            }
            &.others{
                
            }
            &.collections{
                
            }
            &.feed{
                
            }
        }
    }
}