#practicaOberigJewelry {
  overflow-x: hidden;
}
@font-face {
  font-family: CalibriBold;
  src: url("../fonts/Calibri-Bold.21e06a6.woff2");
}
@font-face {
  font-family: minion;
  src: url("../fonts/MinionPro-Regular.cd4cea9.woff2");
}
@font-face {
  font-family: Calibri;
  src: url("../fonts/Calibri.89bd5cc.woff2");
}
#practicaOberigJewelry header {
  font-family: Calibri;
  letter-spacing: 2px;
  top: 0px;
  position: sticky;
  z-index: 1;
}
#practicaOberigJewelry header nav {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+64,ffffff+100&1+26,0+100 */
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 26%, rgba(255, 255, 255, 0.49) 64%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 26%, rgba(255, 255, 255, 0.49) 64%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 26%, rgba(255, 255, 255, 0.49) 64%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */
}
#practicaOberigJewelry header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
#practicaOberigJewelry header nav ul li {
  color: #5c5c5c;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
  width: 150px;
}
#practicaOberigJewelry header nav ul li:nth-child(5) {
  font-family: minion;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 2em;
  padding-bottom: 70px;
}
#practicaOberigJewelry main section {
  flex-flow: row;
}
#practicaOberigJewelry main section.ring {
  height: 100vh;
  overflow: hidden;
  margin-top: 0px;
  position: relative;
  background: url("../img/background_oberig.jpg") no-repeat;
  background-size: 100vw ;
  width: 100vw ;
}
#practicaOberigJewelry main section.ring figure {
  position: relative;
}
#practicaOberigJewelry main section.ring figure img.ringImg {
  position: relative;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
}
#practicaOberigJewelry main section.ring div {
  display: flex;
  position: relative;
  bottom: -300px;
  left: 90px;
}
#practicaOberigJewelry main section.symbols {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#practicaOberigJewelry main section.symbols .texto {
  color: grey;
  font-family: minion;
  position: relative;
  top: 50px;
  right: 100px;
  width: 300px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.1px;
}
#practicaOberigJewelry main section.symbols .texto p {
  font-family: Calibri;
  margin: 50px;
  margin-top: 0px;
  margin-right: 0px;
}
#practicaOberigJewelry main section.symbols .texto h2 {
  font-size: 3em;
}
#practicaOberigJewelry main section.symbols .slider {
  width: 300px;
  height: 300px;
  position: relative;
  margin-top: 75px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 16px 35px rgba(93, 102, 114, 0.15);
  box-shadow: inset 0 16px 35px rgba(93, 102, 114, 0.15);
  border: 1px solid hsla(0, 0%, 100%, 0);
  overflow: hidden;
  width: 457px;
  height: 457px;
}
#practicaOberigJewelry main section.symbols .slider img {
  width: 300px;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#practicaOberigJewelry main section.symbols .slider h1 {
  font-size: 1.5em;
  color: #5c5c5c;
  font-family: minion;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
#practicaOberigJewelry main section.symbols .SliderRadial {
  width: 300px;
  position: relative;
  top: -100px;
  right: 200px;
}
#practicaOberigJewelry main section.symbols .SliderRadial img {
  width: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#practicaOberigJewelry main section.symbols .SliderRadial .SliderRadial__control {
  position: absolute;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  -webkit-box-shadow: inset 0 -16px 35px rgba(93, 102, 114, 0.18);
  box-shadow: inset 0 -16px 35px rgba(93, 102, 114, 0.18);
  border: 1px solid hsla(0, 0%, 100%, 0.4);
  background-color: hsla(0, 0%, 100%, 0);
  cursor: pointer;
}
#practicaOberigJewelry main section.symbols .SliderRadial .SliderRadial__control:first-child {
  left: 255.00561678px;
  top: -31.86209183px;
  transform: translate(-50%, -50%);
}
#practicaOberigJewelry main section.symbols .SliderRadial .SliderRadial__control:nth-child(2) {
  left: 331.86695621px;
  top: 45.00280843px;
  transform: translate(-50%, -50%);
}
#practicaOberigJewelry main section.symbols .SliderRadial .SliderRadial__control:nth-child(3) {
  left: 360px;
  top: 150px;
  transform: translate(-50%, -50%);
}
#practicaOberigJewelry main section.symbols .SliderRadial .SliderRadial__control:nth-child(4) {
  left: 331.86695621px;
  top: 254.99719157px;
  transform: translate(-50%, -50%);
}
#practicaOberigJewelry main section.symbols .SliderRadial .SliderRadial__control:nth-child(5) {
  left: 255.00561678px;
  top: 331.86209183px;
  transform: translate(-50%, -50%);
}
#practicaOberigJewelry main section.others {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#practicaOberigJewelry main section.others .othersLeft {
  color: #7b7a7a;
  font-size: 2.2em;
  width: 1fr;
  font-family: minion;
}
#practicaOberigJewelry main section.others .othersCenter {
  width: 1fr;
}
#practicaOberigJewelry main section.others .othersRight {
  width: 1fr;
  height: auto;
  position: relative;
}
#practicaOberigJewelry main section.others .othersRight ul {
  display: flex;
  flex-direction: column ;
}
#practicaOberigJewelry main section.others .othersRight ul li {
  font-family: Calibri;
  position: relative;
  margin: 20px;
  left: 100px;
  transition: 1s;
}
#practicaOberigJewelry main section.others .othersRight ul li:hover {
  left: 80px;
  transition: 1s;
}
#practicaOberigJewelry main section.brand {
  height: 100vh;
}
#practicaOberigJewelry main section.brand div {
  position: relative;
  display: flex;
  width: 60%;
  margin: auto;
}
#practicaOberigJewelry main section.brand div figure.directora {
  position: relative;
  margin: 20px;
}
#practicaOberigJewelry main section.brand div figure.directora img:first-of-type {
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 7px;
  z-index: -1;
  overflow: hidden;
}
#practicaOberigJewelry main section.brand div div {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
#practicaOberigJewelry main section.brand div div h2 {
  color: #7b7a7a;
  text-justify: auto;
  text-transform: uppercase;
  font-family: mineon;
  font-size: 50px;
  line-height: 65px;
  width: 300px;
}
#practicaOberigJewelry main section.brand div div p {
  color: #444344;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
#practicaOberigJewelry main section.collections {
  height: 50vh;
  background-image: url("../img/collBG.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -100px;
  display: flex;
  justify-content: center;
}
#practicaOberigJewelry main section.collections h2 {
  position: relative;
  top: 50%;
  font-family: Calibri ;
  letter-spacing: 2px;
  font-size: 1em;
  transform: translateX(-50%, -50%);
}
#practicaOberigJewelry main section.feed {
  height: 80vh;
}
#practicaOberigJewelry main section.feed .sectionFeed {
  position: relative;
  height: 420px;
  width: 1280px;
  max-width: 100%;
  margin: 60px auto 0;
  background-color: grey;
  overflow: hidden;
}
#practicaOberigJewelry main section.feed .sectionFeed .cuadroIMGs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
#practicaOberigJewelry main section.feed .sectionFeed .SectionInstagram__photo {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
  height: 50%;
  width: 20%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: object-fit\: cover;
}
#practicaOberigJewelry main section.feed .sectionFeed .SectionInstagram__iconBlock {
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 135px;
  left: 50%;
  text-decoration: none;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}
#practicaOberigJewelry main section.feed .sectionFeed .SectionInstagram__logo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
#practicaOberigJewelry main section.feed .sectionFeed .SectionInstagram__bg {
  position: relative;
  width: 1280px;
  height: 420px;
  left: 0px;
  top: 0px;
  position: absolute;
  top: -135px;
  left: -640px;
  background: radial-gradient(circle at 50% 135%, #fff 0, #fff 10%, hsla(0, 0%, 100%, 0.99) 30%, hsla(0, 0%, 100%, 0.001) 100%);
  background-size: 100% 100%;
}
#practicaOberigJewelry main section.feed .sectionFeed .SectionInstagram__label {
  position: relative;
  display: inline-block;
  padding-top: 29px;
  width: 100%;
  top: 50%;
  color: #444344;
  font-family: CalibriBold, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
#practicaOberigJewelry main section footer {
  height: 25vh;
}
