#practicaOberigJewelry {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d7ebed+0,ffffff+49,f9e8ff+100 */
  background: #d7ebed;
  /* Old browsers */
  background: -moz-linear-gradient(left, #d7ebed 0%, #ffffff 49%, #f9e8ff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #d7ebed 0%, #ffffff 49%, #f9e8ff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #d7ebed 0%, #ffffff 49%, #f9e8ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7ebed', endColorstr='#f9e8ff', GradientType=1);
  /* IE6-9 */
}
#practicaOberigJewelry header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
#practicaOberigJewelry header nav ul li {
  margin-top: 30px;
  padding: 10px;
  width: 150px;
}
#practicaOberigJewelry header nav ul li:nth-child(5) {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 2em;
  padding-bottom: 70px;
}
#practicaOberigJewelry main section {
  flex-flow: row;
}
#practicaOberigJewelry main section.ring {
  margin: 60px;
  position: relative;
  background-image: url("../img/background_oberig.png");
  background-size: contain ;
  height: 700px;
}
#practicaOberigJewelry main section.ring figure img {
  position: relative;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
}
